#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Aerospike Server definition
#

{% import 'aerospike.conf.jinja' as aerospike %}

{% set namePrefix = properties["namePrefix"] %}
{% set network = properties["network"] %}
{% set project = env["project"] %}
{% set zone = properties["zone"] %}
{% set numReplicas = properties["numReplicas"] %}
{% set machineType = properties["machineType"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set shadowDiskSuffix = "shadow-data" %}
{% set dataDiskSuffix = "data" %}
{% set numLocalSSDs = properties["numLocalSSDs"] %}
{% set ephemeralDiskSuffix = "local-data" %}
{% set aerospikeVersion = properties["aerospikeVersion"] %}

{% macro hostname(prefix, id) -%}
{{ "%s-%d-vm"|format(prefix, id) }}
{%- endmacro %}

{% macro hostnames() -%}
{% for instance in range(1, properties["numReplicas"] + 1) -%}
  {{ hostname(namePrefix, instance) + '|' }}
{%- endfor %}
{%- endmacro %}

resources:
- type: compute.v1.firewall
  name: aerospike-firewall
  properties:
    sourceRanges: [ "0.0.0.0/0" ]
    allowed:
      - IPProtocol: tcp
        ports: [ "3000" ]

- type: vm_multiple_instances.py
  name: {{ namePrefix }}
  properties:
    zone: {{ zone }}
    machineType: {{ machineType }}
    network: {{ network }}
    numberOfVMReplicas: {{ numReplicas }}
    sourceImage: https://www.googleapis.com/compute/v1/projects/aerospike-dev/global/images/aerospike-signed-image-2016-04-01
    canIpForward: true
    bootDiskType: {{ bootDiskType }}
    localSSDs: {{ numLocalSSDs }}
    {% if properties['useShadowDisk'] %}
    disks:
        {% for n in range(numLocalSSDs) %}
      - deviceName: {{ shadowDiskSuffix + '-' +n|string }}
        type: PERSISTENT
        diskType: pd-ssd
        diskSizeGb: 375 # Match non-persistent store size
        boot: False
        autoDelete: False
        {% endfor %}
    {% elif properties['diskSize'] %}
    disks:
      {% for diskSize in properties['diskSize'] %}
      - deviceName: {{ dataDiskSuffix + '-' + diskSize|string }}
        type: PERSISTENT
        diskType: pd-ssd
        diskSizeGb: {{ diskSize }}
        boot: False
        autoDelete: False
      {% endfor %}
    {% endif %}
    tags:
      items:
      - {{ namePrefix }}
      - {{ '%s-db' % namePrefix }}

    metadata:
      items:
      - key: AEROSPIKE_VERSION
        value: {{ aerospikeVersion }}
      - key: AEROSPIKE_CLUSTER
        value: "{{ hostnames() | trim }}"
      - key: AEROSPIKE_CONF
        value: |
           {{ aerospike.GenerateNamespaceConf() | indent(12) }}

outputs:
  - name: initialPrimarySelfLink
    value: "$(ref.{{ hostname(namePrefix, 1) }}.selfLink)"
  - name: project
    value:  {{ project }}
  - name: instanceName
    value: {{ hostname(namePrefix, 1) }}

