#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Aerospike Server definition
#

{% set namePrefix = properties["namePrefix"] %}
{% set network = properties["network"] %}
{% set project = env["project"] %}
{% set zone = properties["zone"] %}
{% set numReplicas = properties["numReplicas"] %}
{% set machineType = properties["machineType"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set shadowDiskSuffix = "shadow-data" %}
{% set dataDiskSuffix = "data" %}
{% set numLocalSSDs = properties["numLocalSSDs"] %}
{% set aerospikeVersion = properties["aerospikeVersion"] %}
{% set disks = properties["diskSize"] %}

{% macro hostname(prefix, id) -%}
{{ "%s-%d-vm"|format(prefix, id) }}
{%- endmacro %}

{% macro hostnames() -%}
{% for instance in range(1, properties["numReplicas"] + 1) -%}
  {{ hostname(namePrefix, instance) + '|' }}
{%- endfor %}
{%- endmacro %}


resources:
- type: compute.v1.firewall
  name: aerospike-firewall
  properties:
    sourceRanges: [ "0.0.0.0/0" ]
    allowed:
      - IPProtocol: tcp
        ports: [ "3000", "8081" ]
    targetTags:
      - {{ '%s-db' % namePrefix }}

- type: password.py
  name: amc-password
  properties:
    length: 10
    includeSymbols: True

- type: vm_multiple_instances.py
  name: {{ namePrefix }}
  properties:
    zone: {{ zone }}
    machineType: {{ machineType }}
    network: {{ network }}
    numberOfVMReplicas: {{ numReplicas }}
    sourceImage: https://www.googleapis.com/compute/v1/projects/aerospike-dev/global/images/aerospike-image-2017-06-21
    canIpForward: true
    bootDiskType: {{ bootDiskType }}
    localSSDs: {{ numLocalSSDs }}
    {% if properties['useShadowDevice'] %}
    disks:
        {% for n in range(numLocalSSDs) %}
      - deviceName: {{ shadowDiskSuffix + '-' +n|string }}
        type: PERSISTENT
        diskType: pd-ssd
        diskSizeGb: 375 # Match non-persistent store size
        boot: False
        autoDelete: False
        {% endfor %}
    {% elif disks %}
    disks:
      {% if disks is iterable %}
        {% for n in range(disks|count) %}
      - deviceName: {{ dataDiskSuffix + '-' + n|string }}
        type: PERSISTENT
        diskType: pd-ssd
        diskSizeGb: {{ disks[n] }}
        boot: False
        autoDelete: False
        {% endfor %}
      {% else %}
      - deviceName: {{ dataDiskSuffix }}
        type: PERSISTENT
        diskType: pd-ssd
        diskSizeGb: {{ disks }}
        boot: False
        autoDelete: False
      {% endif %}
    {% endif %}
    tags:
      items:
      - {{ namePrefix }}
      - {{ '%s-db' % namePrefix }}

    metadata:
      items:
        {% if properties['namespace'] is defined %}
      - key: AEROSPIKE_NS
        value: |
          {{ properties['namespace'] | indent(10) }}
        {% endif %}
      - key: AEROSPIKE_CLUSTER
        value: "{{ hostnames() | trim }}"
      - key: AMC_PASSWORD
        value: "$(ref.amc-password.password)"
      - key: startup-script
        value: |
          #!/bin/bash
          AEROSPIKE_CLUSTER=$(curl -sL -H "Metadata-Flavor: Google"  metadata/computeMetadata/v1beta1/instance/attributes/AEROSPIKE_CLUSTER)
          AEROSPIKE_CONF=/etc/aerospike/aerospike.conf
          #AS_DISKS=$(curl -sL -H "Metadata-Flavor: Google" metadata/computeMetadata/v1beta1/instance/attributes/ATTACHED_DISKS)
          IFS='|' read -ra ASD_CLUSTER <<< "$AEROSPIKE_CLUSTER"
          cp /etc/aerospike/sample/aerospike_mesh.conf $AEROSPIKE_CONF
          #CLUSTERING
          sed -i '/.*mesh-sedd-address-port/d' $AEROSPIKE_CONF
          for I in "${ASD_CLUSTER[@]}"; do
            IP=$(python -c "import socket; print socket.gethostbyname(\"${I}\")")
            sed -i "/interval/i \\\t\tmesh-seed-address-port $IP 3002" $AEROSPIKE_CONF
          done
          #NAMESPACE
          CODE=$(curl -sL -H "Metadata-Flavor: Google" metadata/computeMetadata/v1beta1/instance/attributes/AEROSPIKE_NS -w "%{http_code}" -o /dev/null)
          if [ "$CODE" != "200" ]; then
            echo "No namespace file found";
          else
            AEROSPIKE_NS=$(curl -sL -H "Metadata-Flavor: Google" metadata/computeMetadata/v1beta1/instance/attributes/AEROSPIKE_NS)
            sed -i '/namespace test/,$d' $AEROSPIKE_CONF
            #IFS=',' read -ra DISKS <<< "$AS_DISKS"
            #for DISK in "${DISKS[@]}"; do
            #  AEROSPIKE_NS=$(echo -e "$AEROSPIKE_NS" | awk -v var=$DISK 'NR==1,/\$DISK/{sub(/\$DISK/,var)} 1')
            #done
            echo -e "$AEROSPIKE_NS" >> $AEROSPIKE_CONF
          fi
          /opt/aerospike/balance_scsi_mq
          service aerospike restart
          

outputs:
  - name: initialPrimarySelfLink
    value: "$(ref.{{ hostname(namePrefix, 1) }}.selfLink)"
  - name: project
    value:  {{ project }}
  - name: instanceName
    value: {{ hostname(namePrefix, 1) }}
  - name: amcProxyPassword
    value: "$(ref.amc-password.password)"

